$color-dark-primary: #1d2a31;
$color-dark-secondary: #2e3b44;
$color-text-bright: #cecece;
$color-text-dim: #82929b;
$color-nav-link-hover: rgba(206, 206, 206, 0.3);
$color-row-hover: rgb(168, 168, 168);
$color-green: #52b792;
$color-green-dim: #408a6f;
$color-yellow: #eeb34e;
$color-yellow-dim: #b88b3e;
$color-blue: #6b7add;
$color-red: #c65942;
$color-red-dim: #8e3825;
$color-pink: #fcccc3;
$color-tag: #485864;
$color-white: #ffffff;
$color-modal-overlay: rgba(29, 42, 49, 0.3);

$desctop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 414px;
